<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/adminpanel.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">



</head>
<body id="body-pd">
<h1>Welcome Admin Panel</h1>
<div class="l_navabar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="#" class="nav__logo">Admin</a>
            </div>
        </div>
        <div class="nav__list" style="margin-bottom: 30vh">
            <a href="#" class="nav__link">
                <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Dashboard</span>
            </a>
            <a href="#" class="nav__link">
                <ion-icon name="bag-add-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Add menu Items</span>
            </a>
            <a href="#" class="nav__link">
                <ion-icon name="add-circle-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Add category</span>
            </a>
            <a href="#" class="nav__link">
                <ion-icon name="cart-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Orders</span>
            </a>
            <a href="#" class="nav__link">
                <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Table</span>
            </a>
            <a href="#" class="nav__link">
                <ion-icon name="cafe-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Receipts</span>
            </a>
            <a href="#" class="nav__link">
                <ion-icon name="person-add-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Register</span>
            </a>
        </div>
        <a href="#" class="nav__link">
            <ion-icon name="log-out-outline"></ion-icon>
            <span class="nav__name">log out</span>
        </a>
    </nav>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="../../static/js/adminpage.js"></script>
</body>

</html>

