<div class="container">
    <table class="table table-hover create" id="login-up">
        <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Title</th>
            <th scope="col">Root</th>
        </tr>
        </thead>
        <tbody>
        {% for cat in category_dict %}
            <tr>
                <th scope="row">{{ category_dict[cat]['id'] }}</th>
                <td>{{ category_dict[cat]['title'] }}</td>
                <td>{{ category_dict[cat]['root'] }}</td>
                <td>
                    <form action="{{ url_for('category') }}" method="POST">
                        <button type="submit" class="btn btn-danger" name="id_Delete" value="{{ category_dict[cat]['id'] }}">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
    <div class="modal-header">
        <h2 class="modal-title">Add category</h2>
    </div>
    <div class="modal-body">
        <form action="{{ url_for('category') }}" class="create" id="login-up" method="POST">
            <div class="box">
                <i class="bi bi-bag"></i>
                <input type="text" placeholder="Enter Items Title" class="input" name="Title">
            </div>
            <div class="box">
                <i class="bi bi-bag"></i>
                <input type="text" placeholder="Enter Items Root" class="input" name="Root">
            </div>
            <div class="row">
                <button type="submit" class="button col">Create</button>
            </div>
        </form>

    </div>
</div>
