<div class="container">
    <div class="modal-header">
        <h2 class="modal-title">Add category</h2>
    </div>
    <div class="modal-body">
        <form action="" class="create" id="login-up">
            <div class="box">
                <i class="bi bi-bag"></i>
                <input type="text" placeholder="Enter Items Title" class="input">
            </div>
            <div class="box">
                <i class="bi bi-bag"></i>
                <input type="text" placeholder="Enter Items Root" class="input">
            </div>
            <div class="row">
                <button type="submit" class="button col">Create</button>
            </div>
            <div class="login__social">
                <a href="#" class="login__social-icon"><i class="bi bi-telegram"></i></a>
                <a href="#" class="login__social-icon"><i class="bi bi-instagram"></i></a>
            </div>
        </form>

    </div>
</div>
