<div class="container-fluid" style="width: 80%">
    <div class="modal-header">
        <h2 class="modal-title">Menu Items</h2>
    </div>
    <form action="" class="create" id="login-up" method="POST">
        <div class="box">
            <i class="bi bi-person-circle icon"></i>
            <input type="text" placeholder="Enter Items Name" class="input" id="name">
        </div>
        <div class="box">
            <i class="bi bi-currency-dollar"></i>
            <input type="text" placeholder="Enter Items Price" class="input" id="price">
        </div>
        <div class="box">
            <i class="bi bi-card-image"></i>
            <input type="text" placeholder="Enter Image address" class="input" id="image">
        </div>
        <div class="box">
            <i class="bi bi-clipboard"></i>
            <input type="text" placeholder="Enter Description Items" class="input" id="description">
        </div>
        <div class="box">
            <i class="bi bi-bag"></i>
            <input type="number" placeholder="Enter Category Number" class="input" id="category">
        </div>
        <div class="row">
            <button type="submit" class="button col" id="Sub">Create</button>
        </div>
        <div class="login__social">
            <a href="#" class="login__social-icon"><i class="bi bi-telegram"></i></a>
            <a href="#" class="login__social-icon"><i class="bi bi-instagram"></i></a>
        </div>
    </form>
</div>
