



<div class="container"><p><h1 align="center">Menu Manager</h1></p>
   <table class="table table-hover create" id="login-up">
                <thead>
                    <tr>
                           <th scope="col">ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Price</th>
                          <th scope="col">Image</th>
                          <th scope="col">Description</th>
                          <th scope="col">Category</th>
                          <th scope="col">Discount</th>
                            <th scope="col">serv_time</th>
                            <th scope="col">st_cooking_time</th>
                    </tr>
                </thead>
                <tbody>

                    {% for row in menu_dict %}
                    <tr>
                        <th scope="row">{{menu_dict[row]['id']}}</th>
                        <td>{{menu_dict[row]['name']}}</td>
                        <td>{{menu_dict[row]['price']}}</td>
                        <td><img src="{{ menu_dict[row]['image'] }}" alt="{{ menu_dict[row]['image'] }}"></td>
                        <td>{{menu_dict[row]['description']}}</td>
                        <td>{{menu_dict[row]['category']}}</td>
                        <td>{{menu_dict[row]['serv_time']}}</td>
                        <td>{{menu_dict[row]['st_cooking_time']}}</td>

                        <td>
                           <form action="{{ url_for('menu_item') }}" method="post">
                               <button type="submit" class="btn btn-danger" name="id_delete"
                                    value="{{ menu_dict[row]['id'] }}">Delete
                               </button>
                           </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
<div class="form-group">
    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="exampleModal"
            style="border-radius: 1rem">
        Add Menu Item
    </button>
        </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document"></div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="container">
                            <div class="modal-header">
                                <h2 class="modal-title">Add Menu Item</h2>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('menu_item') }}" class="create" id="login-up" method="POST">
                                    <div class="box">
                                        <i class="bi bi-bag"></i>
                                        <input type="text" placeholder="Enter Items Name" class="input" name="Name">
                                    </div>
                                    <div class="box">
                                        <i class="bi bi-bag"></i>
                                        <input type="text" placeholder="Enter Items Price" class="input" name="Price">
                                    </div>
                                    <div class="box">
                                        <i class="bi bi-bag"></i>
                                        <input type="text" placeholder="Enter Items Image" class="input" name="Image">
                                    </div>
                                    <div class="box">
                                        <i class="bi bi-bag"></i>
                                        <input type="text" placeholder="Enter Items Description" class="input" name="Description">
                                    </div>
                                    <div class="box">
                                        <i class="bi bi-bag"></i>
                                        <input type="text" placeholder="Enter Items Category" class="input" name="Category">
                                    </div>
                                    <div class="box">
                                        <i class="bi bi-bag"></i>
                                        <input type="text" placeholder="Enter Items Serv_time" class="input" name="Serv_time">
                                    </div>
                                    <div class="box">
                                        <i class="bi bi-bag"></i>
                                        <input type="text" placeholder="Enter Items St_cooking_time" class="input" name="St_cooking_time">
                                    </div>

                                    <div class="row">
                                        <button type="submit" class="button col">Create</button>
                                    </div>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top: 1rem">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>














{##}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css">#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
{#<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{# <div class="row"><h3>Menu manager</h3></div>#}
{#  <div class="row">#}
{#    <div class="col-md-4">#}
{#    <div class="alert alert-success alert-dismissible fade show" role="alert">#}
{#        {{ message }}#}
{#        <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#          <span aria-hidden="true">×</span>#}
{#        </button>#}
{#              </div>#}
{#      {% endfor %}#}
{#      {% endif %}#}
{#      {% endwith %}#}
{#      <div class="card card-body">#}
{#        <form action="{{url_for('add_student')}}" method="POST">#}
{#          <div class="form-group">#}
{#            <input type="text" class="form-control" name="fname" placeholder="First Name">#}
{#          </div>#}
{#          <div class="form-group">#}
{#            <input type="text" class="form-control" name="lname" placeholder="Last Name">#}
{#          </div>#}
{#          <div class="form-group">#}
{#            <input type="email" class="form-control" name="email" placeholder="Email">#}
{#          </div>#}
{#          <button class="btn btn-primary btn-block">#}
{#            Save#}
{#          </button>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#    <div class="col-md-8">#}
{#      <table id="example" class="table table-striped table-bordered bg-secondary" style="width:100%">#}
{#        <thead>#}
{#          <tr>#}
{#            <td>ID</td>#}
{#            <td>First Name</td>#}
{#            <td>Last Name</td>#}
{#            <td>Email</td>#}
{#            <td>Action</td>#}
{#          </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#          {% for row in list_users %}#}
{#          <tr>#}
{#            <td>{{row[0]}}</td>#}
{#            <td>{{row[1]}}</td>#}
{#            <td>{{row[2]}}</td>#}
{#            <td>{{row[3]}}</td>#}
{#            <td width="130">#}
{#              <a href="/edit/{{row[0]}}" class="btn btn-secondary btn-sm">edit</a>#}
{#              <a href="/delete/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>#}
{#            </td>#}
{#          </tr>#}
{#          {% endfor %}#}
{#        </tbody>#}
{#      </table>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{#{% endblock %}#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#                <div class="row">#}
{#                  <h5 class="card-title">Menu Manager</h5>#}
{#                  <div class="table-responsive">#}
{#                    <table#}
{#                      id="zero_config"#}
{#                      class="table table-striped table-bordered"#}
{#                    >#}
{#                      <thead>#}
{#                        <tr>#}
{#                           <th>ID</th>#}
{#                          <th>Name</th>#}
{#                          <th>Price</th>#}
{#                          <th>Image</th>#}
{#                          <th>Description</th>#}
{#                          <th>Category</th>#}
{#                          <th>Discount</th>#}
{#                            <th>serv_time</th>#}
{#                            <th>st_cooking_time</th>#}
{#                        </tr>#}
{#                      </thead>#}
{#                        {% for cat in category_dict %}#}
{#                        {% for menu in menu_dict %}#}
{#                        {% if menu_dict[menu]['category']==cat %}#}
{#                      <tbody>#}
{#                        <tr>#}
{#                            <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="id">{{ menu_dict[menu]['id'] }}</td>#}
{#                          <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="name">{{ menu_dict[menu]['name'] }}</td>#}
{#                          <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="price">{{ menu_dict[menu]['price'] }}</td>#}
{#                          <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="image"><img src="{{ menu_dict[menu]['image'] }}" alt="{{ menu_dict[menu]['name'] }}"></td>#}
{#                            <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="description">{{ menu_dict[menu]['description'] }}</td>#}
{#                          <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="category">{{ menu_dict[menu]['category'] }}</td>#}
{#                          <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="serv_time">{{ menu_dict[menu]['serv_time'] }}</td>#}
{#                        <td class="editable" data-id="{{ menu_dict[menu]['id'] }}" data-type="st_cooking_time">{{ menu_dict[menu]['st_cooking_time'] }}</td>#}
{#                        </tr>#}
{#                            <tr>#}
{#                            <td class="editable" >1</td>#}
{#                          <td class="editable" >peproni</td>#}
{#                          <td class="editable" >10</td>#}
{#                          <td class="editable" ><img src="{{ menu_dict[menu]['image'] }}" alt="{{ menu_dict[menu]['name'] }}"></td>#}
{#                            <td class="editable" ></td>#}
{#                          <td class="editable" >food</td>#}
{#                          <td class="editable">10</td>#}
{#                        <td class="editable" >10</td>#}
{#                        </tr>#}
{#                        {% endif %}#}
{#                        {% endfor %}#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{##}
{#                    </table>#}
{#                  </div>#}
{#                </div>#}
{#</div>#}