<div class="container">
    <table class="table table-hover create" id="login-up">
        <thead>
        <tr>
            <th scope="col">Table id</th>
            <th scope="col">Number </th>
            <th scope="col">Status</th>
            <th scope="col">Time stamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>2000</td>
            <td>2000</td>
            <td>12</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2000</td>
            <td>2000</td>
            <td>12</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>2000</td>
            <td>2000</td>
            <td>12</td>
        </tr>
        </tbody>
    </table>
</div>
