<div class="container">
    <table class="table table-hover create" id="login-up">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Table id</th>
            <th scope="col">Number </th>
            <th scope="col">Status</th>
            <th scope="col">Time stamp</th>
        </tr>
        </thead>
        <tbody>
        {% for ord in order_dict %}
            <tr>
                <th scope="row">{{ order_dict[ord]['order_id'] }}</th>
                <td>{{ order_dict[ord]['title'] }}</td>
                <td>{{ order_dict[ord]['root'] }}</td>
                <td>
                    <form action="{{ url_for('orders') }}" method="POST">
                        <button type="submit" class="btn btn-danger" name="id_Delete" value="{{ order_dict[ord]['order_id'] }}">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
