<div class="container">
    <table class="table table-hover create" id="login-up">
        <thead>
        <tr>
            <th scope="col">Table id</th>
            <th scope="col">Total Price</th>
            <th scope="col">Final Price</th>
            <th scope="col">Time stamp</th>
        </tr>
        </thead>
        <tbody>
        {% for rec in receipts_dict %}
            <tr>
                <th scope="row">{{ category_dict[rec]['id'] }}</th>
                <td>{{ receipts_dict[rec]['table_id'] }}</td>
                <td>{{ receipts_dict[rec]['total_price'] }}</td>
                <td>{{ receipts_dict[rec]['final_price'] }}</td>
                <td>{{ receipts_dict[rec]['time_stamp'] }}</td>
                <td>
                    <form action="{{ url_for('receipt') }}" method="POST">
                        <button type="submit" class="btn btn-danger" name="id_Delete" value="{{ category_dict[rec]['id'] }}">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
