<div class="container-fluid">
    <div class="col">
        <div class="row justify-content-center">
            <h1>Table status</h1>
        </div>
        <div class="row justify-content-center">
            <div class="card col-sm-11 col-lg-3" style="width:200px;background-color: #12192C">
                <img class="card-img-top" src="/static/img/table/2.jpg" alt="Card image"
                     style="width:100%;height:100%;border: 5px solid #f5e0d1;border-radius: 100%">
                <div class="card-body">
                    <h4 class="card-title" style="color:#dddddd">table_number</h4>
                    <p class="card-text" style="color:#dddddd">cafe_position</p>
                    <a href="#" class="btn btn-Secondary">capacity</a>
                </div>
            </div>
            <div class="card col-sm-11 col-lg-3" style="width:200px;background-color: #12192C">
                <img class="card-img-top" src="/static/img/table/2.jpg" alt="Card image"
                     style="width:100%;height:100%;border: 5px solid #f5dfd0;border-radius: 100%">
                <div class="card-body">
                   <h4 class="card-title" style="color:#dddddd">table_number</h4>
                    <p class="card-text" style="color:#dddddd">cafe_position</p>
                    <a href="#" class="btn btn-Secondary">capacity</a>
                </div>
            </div>
            <div class="card col-sm-11 col-lg-3" style="width:200px;background-color: #12192C">
                <img class="card-img-top" src="/static/img/table/2.jpg" alt="Card image"
                     style="width:100%;height:100%;border: 5px solid #eee6d9;border-radius: 100%">
                <div class="card-body">
                    <h4 class="card-title" style="color:#dddddd">table_number</h4>
                    <p class="card-text" style="color:#dddddd">cafe_position</p>
                    <a href="#" class="btn btn-Secondary">capacity</a>
                </div>
            </div>
            <div class="card col-sm-11 col-lg-5"
                 style="display: flex;align-items: center; width:200px;background-color: #12192C">
                <img class="card-img-top" src="/static/img/table/4.jpg" alt="Card image"
                     style="width:100%;height:100%;border: 5px solid #faf3e7;border-radius: 100%">
                <div class="card-body">
                    <h4 class="card-title" style="color:#dddddd">table_number</h4>
                    <p class="card-text" style="color:#dddddd">cafe_position</p>
                    <a href="#" class="btn btn-Secondary">capacity</a>
                </div>
            </div>
            <div class="card col-sm-11 col-lg-5"
                 style="display: flex;align-items: center;width:200px;background-color: #12192C">
                <img class="card-img-top" src="/static/img/table/4.jpg" alt="Card image"
                     style="width:100%;height:100%;border: 5px solid #f1efec;border-radius: 100%">
                <div class="card-body">
                    <h4 class="card-title" style="color:#dddddd">table_number</h4>
                    <p class="card-text" style="color:#dddddd">cafe_position</p>
                    <a href="#" class="btn btn-Secondary">capacity</a>
                </div>
            </div>
        </div>
    </div>
</div>
