<header>
    <button type="button" class="load">Load a bunch of items</button>
</header>
<ul class="container-fluid deck preload">
    <div class="row col-12">
        <li class="card col-lg-5">
            <div class="content">1</div>
        </li>
        <li class="card col col-lg-5">
            <div class="content col-lg-5">2</div>
        </li>
    </div>
    <li class="card">
        <div class="content">3</div>
    </li>
    <li class="card">
        <div class="content">4</div>
    </li>
    <li class="card">
        <div class="content">5</div>
    </li>
    <li class="card">
        <div class="content">6</div>
    </li>
    <li class="card">
        <div class="content">7</div>
    </li>
</ul>
<script src="../../static/js/table.js"></script>