<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card bg-c-blue order-card animate__animated animate__fadeInBottomRight animate__delay-1s">
                <div class="card-block">
                    <h6 class="m-b-20">Position /A\</h6>
                    <h2 class="text-right"><span>number :1</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    <h4 class="m-b-20">Capacity</h4>
                    <form method="POST" class="form-group">
                        <button class="f-right form-control">rezerv</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 animate__animated animate__fadeInBottomRight animate__delay-1s">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Position /B\</h6>
                    <h2 class="text-right"><span>number :2</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    <h4 class="m-b-20">Capacity</h4>
                    <form method="POST" class="form-group">
                        <button class="f-right form-control">rezerv</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 animate__animated animate__fadeInBottomRight animate__delay-1s">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Position /C\</h6>
                    <h2 class="text-right"><span>number :3</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    <h4 class="m-b-20">Capacity</h4>
                    <form method="POST" class="form-group">
                        <button class="f-right form-control">rezerv</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-6 animate__animated animate__fadeInBottomRight animate__delay-2s">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Position /D\</h6>
                    <h2 class="text-right"><span>number :4</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    <h4 class="m-b-20">Capacity</h4>
                    <form method="POST" class="form-group">
                        <button class="f-right form-control">rezerv</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 animate__animated animate__fadeInBottomRight animate__delay-2s">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Position /E\</h6>
                    <h2 class="text-right"><span>number :5</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    <h4 class="m-b-20">Capacity</h4>
                    <form method="POST" class="form-group">
                        <button class="f-right form-control">rezerv</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 animate__animated animate__fadeInBottomRight animate__delay-3s">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Position /F\</h6>
                    <h2 class="text-right"><span>number :6</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    <h4 class="m-b-20">Capacity</h4>
                    <form method="POST" class="form-group">
                        <button class="f-right form-control">rezerv</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 animate__animated animate__fadeInDown animate__delay-3s">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Position /F\</h6>
                    <h2 class="text-right"><span>number :7</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    <h4 class="m-b-20">Capacity</h4>
                    <form method="POST" class="form-group">
                        <button class="f-right form-control">rezerv</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-
</div>