<div id="about">
<div id="box">
        <div class="container-fluid">
            {% include "layot/_navbar.html" %}

            <div class="row" id="body">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi deserunt eos modi quod ratione
                    repudiandae tempora voluptatum! Fugiat ipsa itaque maxime officia omnis perferendis sunt veritatis
                    voluptas. Cumque,
                </h4><br>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi deserunt eos modi quod ratione
                    repudiandae tempora voluptatum! Fugiat ipsa itaque maxime officia omnis perferendis sunt veritatis
                    voluptas. Cumque,
                </h4>
            </div>
        </div>
</div>
</div>