<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn animate__animated animate__zoomIn animate__delay-0.5s"
                             src="/static/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn animate__animated animate__zoomIn animate__delay-1s"
                             src="/static/img/about-2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn animate__animated animate__zoomIn animate__delay-1s"
                             src="/static/img/about-3.jpg" style="margin-top: 25px;margin-left: 64px">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn animate__animated animate__zoomIn animate__delay-0.5s"
                             src="/static/img/about-4.jpg" style="margin-top: 25px">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">About </h5>
                <h1 class="mb-4">Welcome to Cafe</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos
                    erat ipsum et lorem et sit, sed stet lorem sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <hr>
                <p class="mb-4">contact us:     09379418494</p>
                <p class="mb-4">Ceo:    Jafar Ghodrati</p>
                <div class="row g-4 mb-4">
                    <p class="btn btn-primary py-3 px-5 mt-2">Best wishes</p>
                </div>
            </div>
        </div>
    </div>
</div>