{% for i in cart_dict %}
    <tr>
    <td class="col-sm-8 col-md-6">
        <div class="media">
            <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                                          src="{{ cart_dict[i]['image'] }}"
                                                          style="width: 30px; height: 30px;">
            </a>
            <div class="media-body" style="padding-left:10px;">
                <h4 class="media-heading"><a href="#"></a></h4>
                <h5 class="media-heading"> by <a href="#"></a></h5>
                <span>Status: </span><span class="text-success"><strong></strong></span>
            </div>
        </div>
    </td>
    <td class="col-sm-1 col-md-1" style="text-align: center">
        <input type="email" class="form-control" value="1">
    </td>
    <td class="col-sm-1 col-md-1 text-center"><strong> {{ cart_dict[i]['price'] }} </strong></td>
    <td class="col-sm-1 col-md-1 text-center"><strong>{{ cart_dict[i]['t_price'] }}</strong></td>
    <td class="col-sm-1 col-md-1">
        <a class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Remove
        </a></td>
</tr>
{% endfor %}
<tr>
    <td colspan="4"><h5>Total Quantity</h5></td>
    <td class="text-right"><h5><strong>{{ total_quantity }}</strong></h5></td>
</tr>
<tr>
    <td colspan="3"><h3>Total</h3></td>
    <td colspan="2" class="text-right"><h3><strong>{{ total_price }}</strong></h3></td>
</tr>
<tr>
    <td colspan="4">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
        </button>
    </td>
    <td>
        <button type="button" class="btn btn-success">
            Checkout <span class="glyphicon glyphicon-play"></span>
        </button>
    </td>
</tr>