{% extends "layot/_base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/about.css">
    <link rel="stylesheet" href="../../static/css/team.css">
    <link rel="stylesheet" href="../../static/css/menu.css">
{% endblock %}
{% block body %}
    <div id="box">
        {% include "layot/_navbar.html" %}
        <div id="spa_content" ></div>
        {% include "layot/_footer.html" %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $('#Home').click(function () {
            $.ajax({
                url: "{{ url_for('home') }}",
                type: 'GET',
                success: function (res) {
                    $('#spa_content').html(res['data']);
                    console.log(res['data'])
                }
            });
        })
        $('#Menu').click(function () {
            $.ajax({
                url: "{{ url_for('menu') }}",
                type: 'GET',
                success: function (res) {
                    $('#spa_content').html(res['data']);
                    console.log(res['data'])
                }
            });
        })
        $('#Team').click(function () {
            $.ajax({
                url: "{{ url_for('team') }}",
                type: 'GET',
                success: function (res) {
                    $('#spa_content').html(res['data']);
                    console.log(res['data'])
                }
            });
        })
        $('#About').click(function () {
            $.ajax({
                url: "{{ url_for('about') }}",
                type: 'GET',
                success: function (res) {
                    $('#spa_content').html(res['data']);
                    console.log(res['data'])
                }
            });
        })
    </script>
{% endblock %}