{% extends "layot/_base.html" %}

{% block title %}Menu{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/menu.css">
    <style>
    body {
        font-size: 15px;
        line-height: 1.52;
        color: #fd7e14;
        font-family: 'open',sans-serif;
        font-weight: 400;
        overflow-x: hidden;
    }
    .section-padding {
        padding: 60px 0px;

    }
    .marb-35{
        margin-bottom: 35px;
    }
    .header-h {
        font-size: 35px;
        color: teal;
        font-family: 'satisfy',sans-serif;
        font-weight: 300;
    }
    .header-p{
        color: #dcb72f;
        font-size: 16px;
    }
    #menu-filters ul li {
        display: inline-block;
        color: #ffca2c;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
    #menu-filters ul li a {
        padding: 10px 20px;
        font-size: 14px;
        color: darkorange;
        border-radius: 0px;
        border: 1px solid blue;
        text-decoration: none;
        cursor : pointer;
    }
    #menu-filters ul li a.active,    #menu-filters ul li a:hover{
           background: coral;
           color: black;
           border: 1px solid blue;

       }
    .menu-restaurant {
           width: 50%;
           float: left;
           padding: 15px;
           position: relative;
       }
    .menu-restaurant .menu-title {
        float: left;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: darkmagenta;
    }
    .menu-restaurant .menu-line {
        position: absolute;
        bottom: 6px;
        border-bottom: 1px dotted rgba(0,0,0,.3);
        margin-left: .6rem;
        margin-right: .6rem;

    }
    .menu-restaurant .menu-price {
        font-weight: 600;
        position: absolute;
        right: 0;
        top: 0;

    }
    .menu-restaurant .menu-subtitle {
        display: block;
        float: left;
        color: maroon;
        font-size: 1.2rem;

    }
    .menu-restaurant span.clearfix {
        position: relative;
        display: block;
    }



    </style>
{% endblock %}

{% block body %}
    <div id="box">
        <div class="inner-box">
            {% include "layot/_navbar.html" %}

        </div>
        {% include "layot/_footer.html" %}
    </div>
{% endblock %}

