{% extends "layot/_base.html" %}

{% block title %}Menu{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/menu.css">
{% endblock %}

{% block body %}
    <div id="box">
        <div class="inner-box">
            {% include "layot/_navbar.html" %}
            <form action="{{ url_for('creat_order') }}" method="POST">
                <div class="row" id="menu-box">
                    <div class="col-lg-4">
                        <h3 style="text-align: center">breakfast</h3>
                        {% for cat in category_dict %}
                            {% if category_dict[cat]['root'] == 'breakfast' %}
                                <h3 style="text-align: center">{{ category_dict[cat]['title'] }}</h3>
                                {% for menu in menu_dict %}
                                    {% if menu_dict[menu]['category']==category_dict[cat]['title'] %}
                                        <div class="flip-card" style="margin-top: 2vh">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <img src="{{ menu_dict[menu]['image'] }}"
                                                         alt="{{ menu_dict[menu]['name'] }}">
                                                </div>
                                                <div class="flip-card-back">
                                                    <h1>{{ menu_dict[menu]['name'] }}</h1><br>
                                                    <p><b>{{ menu_dict[menu]['description'] }}</b></p>
                                                    <p><b> {{ menu_dict[menu]['price'] }} </b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="number" name="{{ menu }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="col-lg-4">
                        <h3 style="text-align: center">cafe</h3>
                        {% for cat in category_dict %}
                            {% if category_dict[cat]['root']=='cafe' %}
                                <h3 style="text-align: center">{{ category_dict[cat]['title'] }}</h3>
                                {% for menu in menu_dict %}
                                    {% if menu_dict[menu]['category']==cat %}
                                        <div class="flip-card" style="margin-top: 2vh">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <img src="{{ menu_dict[menu]['image'] }}"
                                                         alt="{{ menu_dict[menu]['name'] }}">
                                                </div>
                                                <div class="flip-card-back">
                                                    <h1>{{ menu_dict[menu]['name'] }}</h1><br>
                                                    <p><b>{{ menu_dict[menu]['description'] }}</b></p>
                                                    <p><b> {{ menu_dict[menu]['price'] }} </b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="number" name="{{ menu }}">

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-4">
                        <h3 style="text-align: center">restaurant</h3>
                        {% for cat in category_dict %}
                            {% if category_dict[cat]['root']=='food' %}
                                <h3 style="text-align: center">{{ category_dict[cat]['title'] }}</h3>
                                {% for menu in menu_dict %}
                                    {% if menu_dict[menu]['category']==cat %}
                                        <div class="flip-card" style="margin-top: 2vh">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <img src="/{{ menu_dict[menu]['image'] }}"
                                                         alt="{{ menu_dict[menu]['name'] }}">
                                                </div>
                                                <div class="flip-card-back">
                                                    <h1>{{ menu_dict[menu]['name'] }}</h1><br>
                                                    <p><b>{{ menu_dict[menu]['description'] }}</b></p>
                                                    <p><b> {{ menu_dict[menu]['price'] }} </b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="number" name="{{ menu|string }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <input type="number" name="table" placeholder="table number">
                <button class="form-control" type="submit">order</button>
            </form>
        </div>
        {% include "layot/_footer.html" %}
    </div>
{% endblock %}

