<div id="team">
        <section id="gtco-team" class="bg-white section-padding">
            <div class="container">
                <div class="section-content">
                    <div class="heading-section text-center">
                <span class="subheading">
                    Specialties
                </span>
                        <h2>
                            Our Team
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-card mb-5">
                                <img class="img-fluid" src="../../static/img/chef-1.jpg" alt="">
                                <div class="team-desc">
                                    <h4 class="mb-0">Jafar Ghodrati</h4>
                                    <p class="mb-1">CEO</p>
                                    <ul class="list-inline mb-0 team-social-links">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-card mb-5">
                                <img class="img-fluid" src="../../static/img/chef-3.jpg" alt="">
                                <div class="team-desc">
                                    <h4 class="mb-0">Arman Kazemi</h4>
                                    <p class="mb-1">Chef</p>
                                    <ul class="list-inline mb-0 team-social-links">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-card mb-5">
                                <img class="img-fluid" src="../../static/img/barista.jpg" alt="">
                                <div class="team-desc">
                                    <h4 class="mb-0">Mahdi Zolfaghari</h4>
                                    <p class="mb-1">Barista</p>
                                    <ul class="list-inline mb-0 team-social-links">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-card mb-5">
                                <img class="img-fluid" src="../../static/img/chef-2.jpg" alt="">
                                <div class="team-desc">
                                    <h4 class="mb-0">Mahdi Jalalvand</h4>
                                    <p class="mb-1">Chef</p>
                                    <ul class="list-inline mb-0 team-social-links">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-card mb-5">
                                <img class="img-fluid" src="../../static/img/cashire.jpg" alt="">
                                <div class="team-desc">
                                    <h4 class="mb-0">Alireza Hedayatnia</h4>
                                    <p class="mb-1">Cashier</p>
                                    <ul class="list-inline mb-0 team-social-links">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>