#box {
    background-color: white;
    margin: 3vh;

}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
}

.flip-card-back {
    background-color: #eff5fa;
    color: black;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


#menu-box {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 4rem;
}

button {
    margin-top: 1rem;
}
body {
            font-size: 15px;
            line-height: 1.52;
            color: #2f2b2b;
            font-family: 'open', sans-serif;
            font-weight: 400;
            overflow-x: hidden;
        }

        .section-padding {
            padding: 60px 0px;

        }

        .marb-35 {
            margin-bottom: 35px;
        }

        .header-h {
            font-size: 35px;
            color: #007bff;
            font-family: 'satisfy', sans-serif;
            font-weight: 300;
        }

        .header-p {
            color: black;
            font-size: 16px;
        }

        #menu-filters ul li {
            display: inline-block;
            color: #ffca2c;
            text-transform: capitalize;
            letter-spacing: 1px;
            margin-bottom: 40px;

        }

        #menu-filters ul li a {
            background-color: #007bff;
            padding: 1rem;
            margin: 5px;
            font-size: 14px;
            color: #FFF;
            font-weight: 600;
            text-align: center;
            border-radius: 1rem;
            text-decoration: none;
            transition: .3s
        }

        #menu-filters ul li a.active, #menu-filters ul li a:hover {
            background: #12192C;
        }

        .menu-restaurant {
            width: 50%;
            float: left;
            padding: 15px;
            position: relative;
        }

        .menu-restaurant .menu-title {
            float: left;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: darkmagenta;
        }

        .menu-restaurant .menu-line {
            position: absolute;
            bottom: 6px;
            border-bottom: 1px dotted rgba(0, 0, 0, .3);
            margin-left: .6rem;
            margin-right: .6rem;

        }

        .menu-restaurant .menu-price {
            font-weight: 600;
            position: absolute;
            right: 0;
            top: 0;

        }

        .menu-restaurant .menu-subtitle {
            display: block;
            float: left;
            color: maroon;
            font-size: 1.2rem;

        }

        .menu-restaurant span.clearfix {
            position: relative;
            display: block;
        }