@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --first-color: #9d4bff;
    --first-color-dark: #23004d;
    --first-color-light: #A49eac;
    --first-color-lighten: #f2f2f2;

    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;

    }

}

*, ::before, ::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:var(--body-font);
    font-size:var(--normal-font-size);
    color:var(--first-color-dark);
}
h1{
    margin:0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height:auto;
    display:block;
}
.login{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
