@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --first-color: #9d4bff;
    --first-color-dark: #23004d;
    --first-color-light: #A49eac;
    --first-color-lighten: #f2f2f2;

    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;

    }

}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color-dark);
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.login {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.login__content {
    display: grid;
}

.login__img {
    justify-self: center;
}

.login__img img {
    width: 310px;
    margin-top: 1.5rem;
}

.login__forms {
    position: relative;
    height: 368px;
}

.login__register, .login__create {
    position: absolute;
    width: 100%;
    background-color: var(--first-color-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
}

.login__title {
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}

.login__box {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login__icon {
    font-size: 1.5rem;
    color: var(--first-color);
}

.login__input {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--first-color-dark);
}

.login__input::placeholder {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: var(--first-color-light);
}

.login_button {
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--first-color);
    color: #FFF;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login__button:hover {
    background-color: var(--first-color-dark);
}

.login__account, .login__signin, .login__signup {
    font-weight: 600;
    font-size: var(--small-font-size);
}

.login__account {
    color: var(--first-color-dark);
}

.login__signin, .login__signup {
    color: var(--first-color);
    cursor: pointer;
}
.login__social{
    margin-top: 2rem;
}
.login__social-icon{
    font-size: 1.5rem;
    color: var(--first-color-dark);
    margin: 0 1.5rem;
}