<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p>
                        <h2>Shopping Cart</h2></p>
                        <div class="col-sm-12">
                            <p><a id="btnEmpty" class="btn btn-danger">Empty Cart</a></p>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th class="text-center">Unit Price</th>
                                    <th class="text-center">Price</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td class="col-sm-8 col-md-6">
                                        <div class="media">
                                            <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                                                                          src=""
                                                                                          style="width: 30px; height: 30px;">
                                            </a>
                                            <div class="media-body" style="padding-left:10px;">
                                                <h4 class="media-heading"><a href="#"></a></h4>
                                                <h5 class="media-heading"> by <a href="#"></a></h5>
                                                <span>Status: </span><span class="text-success"><strong></strong></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                        <input type="email" class="form-control" value="1">
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong> price </strong></td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>item_price</strong></td>
                                    <td class="col-sm-1 col-md-1">
                                        <a class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                        </a></td>
                                </tr>
                                <tr>
                                    <td colspan="4"><h5>Total Quantity</h5></td>
                                    <td class="text-right"><h5><strong>all_total_quantity</strong></h5></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><h3>Total</h3></td>
                                    <td colspan="2" class="text-right"><h3><strong>$all_total_price</strong></h3></td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success">
                                            Checkout <span class="glyphicon glyphicon-play"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/cart.js">

</script>