<style>
    #navbar {
        justify-content: space-around;
        align-items: center;
        margin-right: 8rem;
        margin-left: 8rem;
    }
         #navbar li {
            list-style-type: none;
            border-bottom: 4px solid transparent;
            transition: all 1s;
        }

        #navbar li:hover {
            background-color: white;
            border-color: dodgerblue;
        }

        #navbar li > a {
            display: block;
            padding: 20px 30px;
            text-decoration: none;
            color: gray;
        }
</style>
    <div class="container-fluid">
    <div class="row" id="navbar">
        <li><a id="Home">Home</a></li>
        <li><a id="Menu">Menu</a></li>
        <li><a id="Team">Team</a></li>
        <li><a id="About">About</a></li>
    </div>
</div>