<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel=" stylesheet
    " href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{ data.page.base_title }} | {% block title %}Test title{% endblock %}</title>
    {% endblock %}
</head>
<body>
<!--  Body  -->
{% block body %}
{% endblock %}
{% block extra_footer %}<!--  Extra footer  --> {% endblock %}
{% include "layout/__footer.html" %}

</body>
</html>