<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-image: url("download.jpg");
            background-color: #cccccc;
        }
    </style>

</head>
<body>
<div>
    <div class="container-fluid">
        <div class="row" style="height: 100px"></div>
        <form method="GET" action="#">
            <div class="row box-flex justify-content-end">
                <div class="col-4" id="Button">
<!--                    <a style="justify-content:center" href="{{url_for()}}">-->
                    <button class="form-control" type="submit" style="color:white;background-color:#dcbfa9;height: 80px" >home</button>
<!--                    </a>-->
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>