<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>breakfast</h3>
            {% for menu in breakfast %}
            {% endfor %}
        </div>
        <div class="col-lg-4">
            <h3>cafe</h3>
            {% for menu in cafe %}
            {% endfor %}
        </div>
        <div class="col-lg-4">
            <h3>restaurant</h3>
            {% for menu in resturant %}
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>