<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.notification {
  background-color: #559;
  color: white;
  text-decoration: none;
  padding: 25px 80px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin:20px
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
</style>
</head>
<body>

<h1>Table status</h1>
	<div>


      <a href="#" class="notification">
        <span>table</span>
        <span class="badge">1</span>
      </a>



	</div>

</body></html>